appdirs==1.4.4
black==20.8b1
cerberus==1.3.2
cfgv==3.2.0
chardet==4.0.0
click==7.1.2
cycler==0.10.0
cytoolz==0.11.0
datasets==1.4.0
dill==0.3.3
distlib==0.3.1
filelock==3.0.12
flake8==3.8.4
fsspec==0.8.7
funcy==1.15
gin-config==0.3.0
h5py==3.2.0
huggingface-hub==0.0.2
identify==2.1.0
idna==2.10
isort==5.7.0
joblib==1.0.1
kiwisolver==1.3.1
matplotlib==3.3.4
mccabe==0.6.1
multiprocess==0.70.11.1
munch==2.5.0
mypy-extensions==0.4.3
nodeenv==1.5.0
pandas==1.2.3
pathspec==0.8.1
pre-commit==2.10.1
pyarrow==3.0.0
pycodestyle==2.6.0
pyflakes==2.2.0
pytz==2021.1
pyyaml==5.3.1
git+https://github.com/krandiash/quinine.git
regex==2020.11.13
requests==2.25.1
sacremoses==0.0.43
tokenizers==0.10.1
toml==0.10.2
toolz==0.11.1
toposort==1.5
tqdm==4.49.0
git+https://github.com/huggingface/transformers
typed-ast==1.4.2
urllib3==1.26.3
virtualenv==20.4.2
xxhash==2.0.0
