in brief: antibiotic i don't recommend antibiotics for a simple viral upper respiratory tract infection unless examination revealed signs of acute bronchitis or sinusitis. they are not effective for viral infections like covid 19 with no bacterial lung involvement either. if you've been exposed to someone with covid 19 or or if you or someone you were exposed to travelled to a region where it was endemic, get tested would you like to video or text chat with me?
in brief: maybe such a mask helps protect others from any respiratory material you exhale or cough but does not filter out the virus. only high end medical & industrial masks (p95/n95)would filter that. your best protection is frequent hand washing and not touching your face/mouth/nose with contaminated fingers., would you like to video or text chat with me?
in brief: cough and cold hello and welcome to healthtap,it is a good idea to get tested. you can visit your nearest urgent care. make sure to call them before coming, after getting tested self quarantine for total 2 weeks from the onset of symptoms. please wear mask and perform frequent hand washing. avoid ibuprofen/other nsaids, use acetaminophen/ tylenol only. look for signs of worsening cough & breathing difficulties. would you like to video or text chat with me?
hello,  as you explain the situation i strongly recommend you to send him to the doctor for a re-evaluation of the situation.  hope i have answered your query. let me know if i can assist you further.  regards, dr. jnikolla, pulmonologist
in brief: hard to say new zealand is definitely lower risk than europe. your best bet is to stay home, with masks on (home made) follow hygiene. if you need more help ask another question here. if you have access to testing you could do it but i think we need the tests for folk who are more ill at this stage. hope this makes sense. would you like to video or text chat with me?
in brief: not really keep immunity up, keep mental health strong, no specific meds at this point in time would you like to video or text chat with me?
thanks for your question on healthcare magic.i can understand your concern. pneumonia is less likely to cause nose bleeding. recurrent nose bleeding with coughing are commonly seen with sinusitis. so better to consult ent doctor and get done clinical examination and ct scan of paranasal sinuses (pns). also get done chest x ray for pneumonia. if chest x ray is normal then no need to worry for pneumonia. you may also need endoscopic evaluation of sinuses if ct pns is suggestive of infection or erosion.don't worry, you will be alright with all these. hope i have solved your query. i will be happy to help you further. wish you good health. thanks.
no testing yet. it is likely a common cold that you have.if your symptoms get worse eg. fever sore throat and painfull cough you can consult your doctor for an evaluation. try rather to stay home and rest .
keep non smoking. if you have no exposure history to covid 19, your cough is probably not infection. keep up the good work and do not smoke or vape.
self isolate. avoid contact, wash hands, plenty of rest and fluids, if high fever or trouble t=breathing call doctor they can advise you about testing.
likely not corona. sounds more like seasonal allergy or a mild cold. gargle with warm salt water and use meds you have at home. ask questions on this forum - don't go out unless you really really have to.
hello,  * the pneumonia shot per se is not responsible for high wbc count, but as you are telling there are soreness and bad feeling at the injection site over arm, there are all possibilities that you have cellulitis or possible abscess formation at the injection site; which will recruit neutrophils at the site and cause secondary rise in wbc count.  * primary relief with ice application and secondary management with systemic antibiotics and anti-inflammatory medicines with your doc.  hope i have answered your query. let me know if i can assist you further.  take care  regards, dr bhagyesh v. patel, general surgeon
symptoms. please call your general physician and report your symptoms. they may want to see you, send you to be tested, or may give you other advice. please call now before symptoms worsen.
respected user , hithanks for using healthcaremagic.comi have evaluated your query thoroughly .* recovery time of the pneumonia vary from days to weeks depending upon - extent of pneumonia - associated co morbid conditions - causative organisms virulence - host immune response - type of treatment - smoking consumption - activity level - exposure to noxious substances as pollen or dust - diet .* so , to answer the question , lot many conditions have to be calculated and based upon that we can comment .* one thing i want to convey that it will be surely recovered with proper line of management .hope this clears your query .welcome for further doubts .regards . of management .
hello,  as you explain the history you don't have to worry you are in the phase of improvement just so correctly the treatment.  hope i have answered your query. let me know if i can assist you further.  regards, dr. jnikolla, pulmonologist
hello,according to history, yes, it might be pneumonia, but you should do a chest x-ray. hope i have answered your query. let me know if i can assist you further.regards,dr. jnikolla
uncertain. the exact amount of time would depend on the inoculum or how much virus was deposited and whether the cash were dry or moist . the limited studies suggest that the virus does not live very long on cardboard - about 4 hrs or so, so i suspect paper may be similar. if it were moist or wet, it may last longer. heat may inactivate the virus, so consider setting the money in the sun or put in a drier.
in brief: infection influenza versus coronavirus. typically more sudden onset of fever and myalgias with influenza, but sometimes hard to tell. if no significant sob probably need to quarantine. call your local physician or health department. i know healthtap has been helping to order or recommend test, but typically test not available. if coronavirus most cases have been mild and expect about 10 days of symptoms. would you like to video or text chat with me?
thanks for your question on healthcare magic.i can understand your concern. yes, your symptoms are suggestive of pneumonia more. pneumonia (lower respiratory tract infection) is common after upper respiratory tract infection (urti).worsening cough, chest congestion, rattling sound from chest, weakness, loss of appetite etc are characteristic symptoms of pneumonia. so better to consult pulmonologist and get done clinical examination of respiratory system and chest x ray (with abdominal shield).you should definitely start higher antibiotics to recover faster as you are pregnant. hope i have solved your query. i will be happy to help you further. wish you good health. thanks.
in brief: not quite that way people with chronic lung problems do worse in a lung disease outbreak. for one specific person... well, there's no way to guess. "people" in general do worse if they have uncontrolled lung disease. that means it's likely that asthmatics using inhaled steroids to give them good disease control will be better off than asthmatics who use steroids but still cannot get good control. be in good control.
get meds refilled. with the covid-19 pandemic, people with chronic conditions or even intermittent conditions should get their meds refilled in case pharmacy services close down. for asthma patients, they should refill their inhalers. some use only an urgent "rescue" inhaler like albuterol, while others also use "preventive" inhalers like fluticasone. it's best to keep both on hand. if symptoms go bad, it's er time.
in brief: nasal rinses for allergic symptoms, nasal saline and an oral antihistamine are often helpful for controlling symptoms. continue to monitor your temperature and report fever and/or shortness of breath to your pcp. would you like to video or text chat with me?
depends-all factors. type i diabetics can be more fragile when they have any type of infection unfortunately. if you are younger & do not smoke & do not have other chronic problems, your increased risk may be minimal. eating balanced diet, keeping glucose controlled, getting adequate exercise (including fresh air outdoors), & adequate sleep all should help protect you from severe consequences, but be very careful ! .
no. i do not think it will have any effect on corona virus.
covid. follow recommendations. flu last year and covid this year are two separate issues. at 33 your risk of sever infection is low. follow the guidelines for covid. the guidelines are as follows:https://www.healthtap.com/blog/covid-19-care-guidelines/self-quarantine-guide.
helloas you explain the situation yes it might be that in pneumonia to have blood with the cough and especially if you take blood thinners do not worry.however of it last for several days than better to talk with your treating doctor for this for safety.regardsdr.jolanda
not as fragile. as one might hope. -80 c does not kill it +56 c does kill it.
in brief: stay home do whatever you do with a regular flu. drink a lot of fluids, use acetaminophen/paracetamol (tylenol) for the fever and sore throat, eat/drink citrus and please stay home and away from the elders. follow the recommendation of your local authorities.only go to medical services if you feel shortness of breath and use masks if you feel sick and need to go out of your house would you like to video or text chat with me?
not advised to test . the test currently used is a genetic test which test for the virus genetics. therefor if you are tested while asymptomatic, it will not test positive, even though you might actually be infected.rather stay under self quarantine and test if you show some signs.
isolate. no symptoms no test. you really do not need testing if there are no symptoms, but act like you are contagious. avoid contact with people for 14 days and only consult your gp if get symptoms.
in brief: several days lysol should be good. seehttps://www.wired.com/story/coronavirus-disinfectant-cleaning-guide/ would you like to video or text chat with me?
yes. very very important for you to stay in quarantine and not go and shop. also make sure anything that comes into your house is sanitized. every single thing. sanitize. keep 2 m away from everyone and wear a buff or home made mask that covers your nose and mouth. be safe. be positive. we will get through this.
in brief: too soon to recover on aveage, viral respiratory illnesses may take 2-3 weeks for full recovery and severe cases may take 4-6 weeks. if your symptoms worsen, you should contact your health care provider to inquire regarding corona virus testing or quarantine. would you like to video or text chat with me?
in brief: covid19 hiyou cannot go in and see your doctor, so i would suggest to phone hime and hear what he says. regardsdr wil would you like to video or text chat with me?
in brief: hard to answer if not ill assume you have it and behave as if you do, wear a bandanna over nose and mouth and if you have access to testing then do it. if not stay home and boost immunity. would you like to video or text chat with me?
it could be. self isolate, wash your hands, plenty of fluids and rest, if you get a high fever or have trouble breathing call your doctor.
in brief: if bad, needs er covid-19 pandemic at this time, so a doctor on video may consult by video instead of requiring an in-person visit. flu-like symptoms can be from a strep throat infection, a cold or influenza, or from some other cause like covid-19. usually, a person calls the doctor if the symptoms are bothersome, serious, recurrent, or persistent. covid-19 testing depends on local availability. (3/22/20) would you like to video or text chat with me?
in brief: no not yet, joint pain alone not an indication, but stay home would you like to video or text chat with me?
in brief: yes and no. yes for the first question. for the second question i should say no because the possibility of the store employee coming close less than 6 feet is great. but what you can do is you get out of the car open the truck and then call the store employee for a curb side pick up leaving always a 6 feet distance between two of you. would you like to video or text chat with me?
yes. yes.
hello thank you for trusting hcm dear what is the culture report suggestive?? staphylococcus aureus pneumonia take more time to come under control, usually community acquired staphylococcus infection may present with methicillne resistance(mrsa) , for this patient cases need to treated with vancomycine, and linezolid. some patients also developed vancomycine resistant staph aureus (vrsa) infection, this infection very problematic to control. very few drugs like quinupristin-dalfopristin and linezolid available to control vrsa. please follow your doctor orders they will treat you in right way. i think i answered to your question if you have more questions please feel free to ask.
in brief: check online there are many resources online about the symptoms of covid-19. the most important questions relate to travel history and the symptoms you are experiencing. if you suspect that you may have covid-19, self-isolate as soon as possible and call your local doctor or testing site. you can also check out https://www.gov.za/coronavirus/faq or call 0800 029 999 would you like to video or text chat with me?
get tested. if you can not find a place to get tested self-quarantine yourself for 2 weeks. you can use over the counter drugs for symptomatic treatment in the mean time. if sore throat get worse this could be strep throat need a culture to be taken from your throat by your doctor followed by antibiotic. if shortness of breath gets worse call the hospital for the inpatient treatment could be for covid-19.
early covid-19? call your health care provider to get instructions regarding testing, self-quarantine and possible hospitalization then follow through!
thanks for your question on healthcare magic.i can understand your concern. since you are taking warfarin (blood thinner), possibility of pulmonary embolism (pe) related pain is less likely.possibility of musculoskeletal pain is more likely. so avoid heavyweight lifting and strenuous exercise. avoid movements causing pain. apply warm water pad on affected areas of chest and back. take painkiller and muscle relaxant drugs like ibuprofen and thiocolchicoside. you will mostly improve with all these in 2-3 days. if not improving then consult doctor. hope i have solved your query. i will be happy to help you further. wish you good health. thanks.
in brief: can give dr. a call throat pain can be from a strep throat infection (antibiotics needed), a cold or influenza (antibiotics usually not used), or from some other cause such as allergies or irritants. usually, a person sees the doctor (call first) if the sore throat is bothersome, recurrent, or doesn't go away quickly. covid-19 infections tend to have cough, whereas strep usually lacks cough but has more throat pain. would you like to video or text chat with me?
they don't . unless you are using high end medical or industrial masks they do not protect you from any such virus. they prevent your cough or expired air from infecting others. any scarf/fabric homemade mask or similar device will do the same. you protect yourself more by washing your hands often & not touching your face/mouth/nose with contaminated fingers.
don't isolate yet. . a scratchy throat could be caused by heartburn, oral thrush, bacterial pharyngitis (@ the beginning) or any of the 200 odd viruses that cause the "common cold".if you have had a +ve contact with a covid 19 patient then isolate for 14 days or ifyou develop a high fever, severe headache, dry cough and sore throat, the isolate but only after getting tested for covid 19.
thanks for your question on healthcare magic.i can understand your concern. in my opinion, you should consult pediatric pulmonologist and get done bronchoscopy and bal (bronchoalveolar lavage) analysis.bal culture and sensitivity report will isolate the causative organism and guide about effective antibiotic treatment. so we can achieve faster recovery from this. don't worry, with effective antibiotic treatment, she will be alright with 2 - 3 weeks treatment.hope i have solved your query. i will be happy to help you further. wishing good health to your daughter. thanks.
might need treatment. could be infection or other condition requiring urgent treatment. seek evaluation, but preferably on phone or online, to avoid coronavirus exposure. video consultations are available on healthtap; click on "talk-to-doctor." .
try our other forum. you have posted on our free, public, informational forum, where doctors do not see patient charts nor give medical care. try a private consultation where doctors can see you on video. also, in the us certain medications (but not all) can be prescribed or temporarily refilled, depending on individual circumstances. start over on your screen, click on care, then talk-to-doctor. (mar. 2020)
in brief: barrier protection most of these masks won't completely protect you from a virus, which can penetrate these materials however that does not mean they are not useful. a mask of any sort is good if you are coughing or sneezing to limit some of the aerosols and also is better than nothing if you are out and about in a high risk situation. the chance of you catching the virus is highly dependent on lengthexposure & dos would you like to video or text chat with me?
thanks for your question on healthcare magic.i can understand your concern.yes, you should definitely consult another doctor.pneumonia is lung infection and it should be treated promptly and correctly.and chest x ray is must for the diagnosis of pneumonia.so better to consult another doctor and get done chest x ray to rule out pneumonia.hope i have solved your query. i will be happy to help you further. wish you good health. thanks.
hello and thank you for asking in hcm i can understand your concern don't worry so much. your husband is under treatment for pneumonia according to the history and he has had fever several times.now he feels better but he is not completely asymptomatic which means that the feeling he had might be due to an episode of temperature not so high .this shows that the treatment is doing well. but he has to be careful with the treatment to be correct as the doctor has prescribed ,no smoking and not to work in dust environment ,a lot of liquids too.take carewish a fast recovery for your husband. dr. jolanda pulmonologist
in brief: hard to get rid of molluscum is a virus, the less you touch the lesions the less you will spread the infection. if you want to get rid of it it’s hard, but would suggest a dermatologist rather than the freezing sprays or chemicals used to kill the virus in the skin. there is no ‘limit’ to number of lesions, have not heard that information, but i would not believe that would you like to video or text chat with me?
thanks for your question on healthcare magic.i can understand your concern. by your history and description, possibility of severe pneumonia with sepsis and mods (multiple organ dysfunction syndrome) is more likely.best treatment of pneumonia is identification of causative organism and then start appropriate treatment. so get done bronchoscopy and bal (bronchoalveolar lavage) culture and sensitivity report.also get done blood culture and sensitivity report. culture report will isolate the causative organism and sensitivity report will guide about effective antibiotic treatment. by this we can achieve faster recovery. hope i have solved your query. i will be happy to help you further. wish you good health. thanks.
in brief: tesing follow the following guidelines: https://www. healthtap.com/blog/covid-19-care-guidelines/self-quarantine-guide call your local provider or health department. at 36 you would be considered low risk for serious infection. the test in itself does not lead to a specific action and the tests are numbered. so at this time the tests are limited and being used for sicker patients. would you like to video or text chat with me?
in brief: there are many online resources to help you distinguish between the two. but, yes it is a good idea to stay home until told otherwise. would you like to video or text chat with me?
in brief: usually does not throat symptoms can be from strep throat infection (antibiotics are needed), a cold or other virus (antibiotics usually not used), allergies, irritants, sinusitis, stomach reflux when asleep, etc. .. one usually sees the doctor if the throat issue is bothersome, recurrent, or doesn't go away quickly. a strep throat swab test can easily diagnose strep throat. would you like to video or text chat with me?
in brief: covid-19 mortality don't confuse actual mortality rate with reported rate. the actual rate probably will remain stable (and likely lower in the us than some other countries, because of sophisticated intensive medical care). but as testing expands and more people with mild symptoms (or no symptoms) are diagnosed, reported mortality will decline; likely happening now, but it may take weeks for data to be known.
self-quarantine. try self-quarantine for 14 days; call your health care provider if you start having symptoms to get instructions regarding testing, self-quarantine and possible hospitalization then follow through!
