in brief: best to stay home right now stay home, consult here. disinfect everything and stay safe. we are here to answer your questions. would you like to video or text chat with me?
cooking will kill. cooking adequately will kill the virus-30 sec of ,microwave.
walking pneumonia is a non-medical term to describe a mild case of pneumonia. it is usually called atypical pneumonia because the disease is different from more serious cases of pneumonia caused by typical bacteria. it is often the result of a lung infection from a bacterial microorganism called mycoplasma pneumoniae and generally treated with antibiotics. mild infections are often not treated because they tend to clear on their own. with treatment, most people begin to feel better within a few days.
in brief: no,you shouldnt. unless you have a history of international travel recently or were in contact with someone who has tested positive for corona virsu. would you like to video or text chat with me?
in brief: observatn is enough. by looking at your child you'll know if he is having breathing difficulties. cough with a runny nose is common in children. you should be concerned only if he is refusing to play and eat, or if he develops breathing difficulties. having a fever doesn't mean he has the coronavirus. he is more likely to be infected with any of the common infections in your area of gauteng. would you like to video or text chat with me?
in brief: covid-19 and raas no, according to recent statement from american heart association, the patients with cardiovascular disease should continue acei or abr as prescribed. who also doesn't recommend avoiding ibuprofen for patients with covid-19 symptoms, although the use of acetaminophen could be an alternative option. would you like to video or text chat with me?
in brief: monitor. stay at home, monitor your temperature, drink fluids and rest. nasal congestion and post nasal drip is not typically associated with covid-19. watch for dry cough, fever and if your shortness of breath does not resolve, discuss whether you need an inhaler, chest physiotherapy and/or testing. if you have a trach, watch for signs of infection such as more secretions or a change in color . would you like to video or text chat with me?
in brief: probably not covid. may be allergic, bacterial sinus infection, a different virus, a narrow upper jaw with partial airway obstruction, or other causes. call your general physician and check if they want to see you. see your dentist to evaluate if your upper jaw is too narrow and if you need to see an orthodontist. would you like to video or text chat with me?
in brief: call discovery you'll need to call discovery. would you like to video or text chat with me?
in brief: stay home. stay home for at least 7 days, rest, drink fluids and monitor your temperature. there is an overlap between flu and covid-19 symptoms. nasal congestion and absence of fever are not typically associated with covid. would you like to video or text chat with me?
yes. avoid contact but ensure that they have food, supplies and able to slay at home. they should drink fluids and if they develop a fever, please call your pcp right away and also consider a virtual appointment with ht. other symptoms to watch for include dry cough and shortness of breath. use good hand washing and disinfect surfaces.
contact doctor. was he/she exposed to coronavirus or flu or other illness?he/she may need to be examined and/or tested. please call his/her doctor to discuss and possibly be examined for proper diagnosis and treatment.
hello. anxiety can manifest itself in physical or psychological symptoms or both. the irritation sensation you are experiencing is a part of your anxiety. also please do not believe the hype about covid. it has a low mortality rate, of 2-3 percent, that too mortality is very high in people above 60-70 years with other co-morbidities. you do not have any such disorders and you have not even been in contact with anyone, so do not worry. please continue to take your medicines for anxiety if you are taking them, if not, please consider visiting a psychiatrist and get started on some low dose ssri type of medicines. also, if needed a low dose benzodiazepines can be added temporarily. also, please do some deep breathing exercises, or progressive muscle relaxation. you can also take some honey with water to reduce the itching in the throat and also try doing some gargles with lukewarm salt water.
helloit depends on the age, commodities, immunity status and the cause why the pneumonia is come back again.regardsdr.jolanda
thanks for your concern. the dry cough basically has a few causes....first is post nasal drip, second gastroesophageal reflux'heart burn', third cough variant aasthma, forth heart failure and finally interstitial lung disease. based on the information if you don't have a heart burn or reflux of food or sour brash into your mouth, you are having a cough variant asthma, make sure you do not have difficulty breathing. there is something called cardiac asthma, but it's not much of a likelihood given your young age.i advice you that you give up on smoking as it causes a multitude of problems and may well be related to the cough you've been having now called as 'smokers cough'.it's time that you stop smoking, avoid animal dancers, mites, pollens and any thing that would exacerbate the illness, make sure you don't have a heart burn, and if still the cough persists , meet a pulmo neologism and get a pulmonary function test with methacholine challenge
in brief: yes you can,depends. corona virus treatment so far is symptomatic and supportive. it really depends what you treat with disprin/compral.you are they do not have ibuprofen. would you like to video or text chat with me?
hello, i can understand your concern. in my opinion, you should get done a chest x-ray and cbc (complete blood count). if both these are normal then no need to worry much. i hope this helps.
hi, yes, upload in this query only. i will see and revert to you.
hi, i can understand your concern. i have gone through the report you have attached. (attachment removed to protect patient identity). your total count is on the higher side of normal along with low hemoglobin. so start azithromycin 500 mg 1-0-0, tablet dolo 650 1-0-1. once your fever and cough subside, start an iron tablet for low hemoglobin. i hope this helps.
hi, yes, you can take iron tablet from today onwards. and no need for azithromycin now as you have already taken it. drink plenty of fluids orally and keep yourself hydrated. do warm water gargles and steam inhalation four to five times a day.
it sound like your cousin has something called- empyema. it is basically an abscess in the chest cavity. and the correct treatment for it is drainage - which was done appropriatley. but he should receive antibiotic treatment with coverage of both aerobic and anaerobic organisms. usually specimens are send from the procedure to see which organisms grow and provide a more directed antibiotic coverage.
in brief: fever? start by call pediatrician asap. if high fe ver or projectie vomiting take to er . take to er if inconsolable and cannot get pedicatrician if mild respiratory or gi symptoms likely virus and want to make sure adequately hydrated and may just watch, isolate from contact , and give chicken soup . work on soothing and disstraction keep in touch with pediatrician. would you like to video or text chat with me?
in brief: per rsa nicd: seek care right away if difficulty breathing, other severe symptoms. seek testing if sick, plus known covid-19 contact, or travel to high risk country, or been in facility treating people with covid-19, or severe pneumonia of unknown cause.call 0800 029 999 for test. if sick or possibly exposed (not both), stay home.seek consultation if sick.if known exposure & not sick, self-isolate 14 days. would you like to video or text chat with me?
in brief: cluster cases i would recommend staying at home, rest, drink fluids and monitoring your temperature. you may have covid-19 or another illness. if you are otherwise healthy, await test results. keep utensils, linens separate and washed. use good hand washing and disinfect surfaces. if the test is positive, please have screening of all family members in your home. avoid contact with others. would you like to video or text chat with me?
self quarentine. the current nicd and department of health guidelines are to self isolate for 14 days. if you develop fever, cough or shortness of breath contact your primary care provider and arrange for testing. for more info whatsapp the word "hi" to excellent department of health hot-line 0600 123456. .
in brief: dont think c this is a different problem. dont think it is covid. which is good news. what are your other symptoms? would you like to video or text chat with me?
hello dearwarm welcome to healthcaremagic.comi have evaluated your query thoroughly .* this has different reasons as - residual effect of pneumonia - decreased lung immunity - spasm of bronchi or alveoli with secretions - others .* need urgent pediatric consultation for further management .wishing your angel fine recovery .regards .
probably not. much more important is what her exposure is to anyone who has covid19 or traveler from a highly infected area.fever >100.4f and respiratory symptoms are more common with covid 19 than vomiting.
per rsa nicd: self-isolate for 14 days.seek testing if sick.call 0800 029 999 for test information.seek consultation if sick, preferably by phone or telemedicine.seek care right away if difficulty breathing, other severe symptoms.good luck, from the united states!
in brief: self-quarantine! enter self-quarantine then call your health care provider to get instructions regarding testing, self-quarantine and possible hospitalization then follow through! would you like to video or text chat with me?
might be more severe. people with diabetes can have more fragile immune systems with difficulty fighting infections, so if you contract coronavirus you might be at greater risk for breathing complications. any serious illness can affect blood sugar control in diabetics also. i recommend taking extra precautions to minimize contact with people so as to avoid contacting the virus. .
hello,  the cause of chronic pneumonia is mandatory to be evaluated here with culture of bronchial lavage fluid, ct scan of the thorax and other supportive evaluations.  unless the root cause is identified, one cannot get the complete management chart.  hope i have answered your query. feel free to post further doubts.  thank you.  regards, dr. bhagyesh v. patel, general surgeon
in brief: viral systemic infec sounds like it could be systemic infection, like influenza or corona viruses. please contact the nicd for screening to see if you have to get tested.public hotline:+27 800029999; +27 800111132; +27 82 883 9920.only use paracetamol for pain, if not allergic to it. would you like to video or text chat with me?
not at all. your
in brief: hpv virus human papiloma virus. you wont necessarily have them but you could have the virus. when last did you have a papsmear. they can pick it up on that. once we are out of lockdown get a papsmear. would you like to video or text chat with me?
hello,your son’s respiratory rate is too high. please take him to er immediately and take a chest x-ray immediately.hope i have answered your query. let me know if i can assist you further.regards,dr. siva kumar reddy
hello and welcome to ‘ask a doctor’ service.  i have reviewed your query and here is my advice.  * the pneumonia management depends upon the symptoms which are not narrated here precisely. * the methadone is known to cause long terms side effects over liver, kidney and other body systems, which should be discussed with the treating physician.  awaiting for the symptomatic details to guide further.  hope i have answered your query. let me know if i can assist you further.
cough,phlegm. at this time your symptoms are characteristic of a viral upper respiratory tract infection, and if your sputum is very discolored, bronchitis may be present. absence of fever,chills, chest discomfort,shortness of breath or wheezing is reassuring but your md may recommend starting antibiotic treatment. leave it to him/her whether covid19 treating is advisable depending upon exposure history.
hi,  in such conditions we recommend another class of antibiotics but in the survey of the allergologist who should monitor closely the patient's situation.   hope i have answered your query. let me know if i can assist you further.  regards, dr. jnikolla,  pulmonologist
only if hospitalized. covid-19 infection is worldwide, in all but some isolated areas. the goal is to keep people separated so that the clinics and hospitals are not overwhelmed. patients can be presumed positive regardless of whether they got tested or not, as there's no way to test everyone. no good outpatient treatment found yet. trials of various meds are done for hospitalized patients. (mar. 2020)
thanks for your question on healthcare magic.i can understand your concern.no need to worry for pneumonia as he is not having coughing.coughing is first symptom of pneumonia.so pneumonia is unlikely in the absence of coughing.and 3 days antibiotic duration is too early to decide about effectiveness.you should give full 7 days course of amoxicillin.fever was subsided so amoxicillin island definitely working.along within amoxicillin, give him plenty of fluids orally, fruits, juices etc for energy.don't worry, he will be alright.hope i have solved your query. i will be happy to help you further. wish you good health. thanks.
probable flu. this definitely sounds like influenza is starting.( unless you have any obvious reason to suspect covid-19,malaria,tick bite fever or glandular fever).rest,vitamin c and a suitable over the counter painkiller. i would advise avoiding ibuprofen and other non-steroidal anti-inflammatory medication.
in brief: limited risk from my reading the corona virus is limited in the animals it infests to varieties of bats and snakes. i would not put your dog or cat on such a list. would you like to video or text chat with me?
hello,  these symptoms last for 3-4 weeks. so no need to worry if fever is not there.   hope i have answered your query. let me know if i can assist you further.  take care  regards, dr kaushal bhavsar, pulmonologist
thanks for your question on healthcare magic.i can understand your concern. hrct thorax is done at radiology center. so ask your doctor about near by ct scan centers.usually ct scan is not required for diagnosis of pneumonia.but in some cases if diagnosis is not confirmed or patient is not improving or we suspect tb or ild (interstitial lung disease) then hrct thorax is advised.hope i have solved your query. i will be happy to help you further. wishing good health to your mother. thanks.
covid. https://www.healthtap.com/blog/covid-19-care-guidelines/resources-for-managing-covid-19https://www.healthtap.com/blog/covid-19-care-guidelines/self-quarantine-guide.
in brief: quarantine you should be in self quarantine as it might take another week for you to develop symptoms. as soon as spiking fever, having a sore throat or cough- test. do not travel, nor visit medical facilities. would you like to video or text chat with me?
hello and welcome to ‘ask a doctor’ service.  i have reviewed your query and here is my advice.  yes, she can safely do the chest ct. there is not any contraindication of doing it in pneumonia.  regards, dr.jolanda
in brief: ? telephonic consult if you are able, consult telephonically with your gp. if not, do not go into public places, rather get symptomatic treatment - let someone who is well do this as swiftly as they can. otherwise continue consulting on this forum. we can help you. if you have access to a test this is the only way to know if you truely have it. would you like to video or text chat with me?
hello dearwarm welcome to healthcaremagic.comi have evaluated your concern in depth .* this indicates lung pathology giving nerve endings pain with hurting ribs radiating to back and shoulder .* if not carried out x-ray chest with or without ct thorax is a must for proper diagnosis and management guidelines .hope this clears your query .regards .
maybe. has she been around anyone who has tested positive for covid-19? is she having shortness of breath or labored breathing? if so, then, yes, consider getting her tested. if not, it is more likely that she has the flu or some other virus. if it seems like more than just a regular cold, reach out to her pediatrician for more advice.
in brief: consider asthma have you ever had asthma or wheezing? that can cause tightness & shortness of breath, as can certain heart problems. without fever & cough, covid 19 is less likely, but probably best to call your dr’s office for recommendation. if the breathing worsens you should be seen assp by video visit or perhaps in person to listen to lungs & assess need for possible chest x-ray, ekg, & medication would you like to video or text chat with me?
in brief: this could well be very normal. one can get pain on day 14 during ovulation and before and during the period. use panado for this and once we are through this corona virus you can use anti-inflammatories. would you like to video or text chat with me?
hello and welcome to ask a doctor service. i have reviewed your query and here is my advice. first few cases were suspected to have spread from food. however human to human spread is mainly from air droplets. i would suggest you to refrain from swimming for sometime. although the virus will get killed in swimming pool if it doesnot find host for more than few minutes. other precautions include to avoid social gatherings, wash hands frequently with soap and water, cover face with mask, stay home during sickness, avoid travel. hope it helps. let me know if i can assist you further. dr vaishalee
covid-19? you won't like to hear this, but loss of smell (anosmia) or taste often is the first symptom of covid-19, the epidemic coronavirus infection. nasal congestion also could go along with this. and you probably know that covid-19 is currently a big problem in nyc. he should contact his doctor right away.
in brief: cervix trauma one technique is to have your partner only penetrate your vagina half way to avoid trauma to the cervix. you and your partner can still have enough stimulation and pleasure this way. would you like to video or text chat with me?
hello dearwarm welcome to healthcaremagic.comi have evaluated your query thoroughly .* there are different reasons for this as - lung abscess - effusion - cardiac distress induced - lung hypoxia due to altered pulmonary pressure - anxiety exacerbation - others .hope this clears your query .regards .
hello dearwarm welcome to healthcaremagic.comi have evaluated your query in details .* according to the narration it was seemingly the correct decision of surgery on part of the surgeon as well as patient , because the medicines were not going to cure it at all .wishing you fine recovery .feel free to ask any further queries .regards .
hello dearwarm welcome to healthcaremagic.comi have gone through your query thoroughly .* x-ray result indicates infection of the lung with some sort of bacteria giving rise to pneumonia .* pneumonia recovery takes time depending upon the virulence of the organisms , host immune response and other co morbid conditions .* if your symptom score has declined from the initiation of the therapy wait for further progress , if the intensity of the symptoms is as it is then have to consider the change of therapy or consultant .hope this clears your doubt .thanks .regards .
urti. dear teacheracording to your description, it can be just a viral sore throat. any fever/headache/dry cough/body pains?are you improving?rest, medication like paracetamol/antihistamines/lozenges.you are an unlikely contact for covid 19 at present, but observe, isolate , unless you do not improveregardsdr wil.
after symptoms show. as per the nicd guidelines for clinical management of suspected or confirmed covid-19 disease, "those with mild disease may be de-isolated 14 days after symptom onset, while those with severe disease may be de-isolated 14 days after achieving clinical stability (e.g. once supplemental oxygen is discontinued)". [available at: http://www.nicd.ac.za/diseases-a-z-index/covid-19/covid-19-guidelines/]
simple cold but..... sounds like simple cold, but under the current health challenges of the world, it's best to be preemptive. and because covid-19 is an infectious disease mostly transmitted through respiratory fluid droplets, one should first follow the who/cdc current guidelines on hygiene. then gargle with salt-water or vinegar-water after each meal/bedtime plus take aleve or ibuprofen for soreness/fever... .
in brief: transmisión vih solamente ciertos líquidos corporales —la sangre, el semen, el líquido preseminal, las secreciones rectales etc — de una persona que tiene el vih pueden transmitir el virus. si ambos tienen la certeza con una prueba confirmatoria de que no están infectados y son monogamos no tienen por qué contraerlo. sin embargo tener relaciones sexuales sin protección pueden contraer otro ets would you like to video or text chat with me?
